<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="articleProfiles(post)"></th:block>
    <small>
        <!--标签-->
        <th:block th:if="#lists.size(post.tags)>0">
        <span class="mr-3 font-weight-bold d-md-inline d-none">
                    <i class="fas fa-tags mr-1"></i>
                    <th:block th:each="tag:${post.tags}">
                        <a class="text-body mr-1"
                           th:href="${tag.status.permalink}" th:text="${tag.spec.displayName}"></a>
                    </th:block>
            </span>
        </th:block>

        <!--日期-->
        <span class="mr-3">
            <i class="fas fa-calendar-alt mr-2"></i>
            <th:block th:text="${#dates.format(post.createTime,'yyyy年MM月dd日')}">

            </th:block>
        </span>

        <!--多少次浏览-->
        <span>
            <i class="fas fa-eye mr-2"></i>
            <th:block th:text="${post.visit}">
            </th:block>
        </span>
    </small>
</html>