<!--分类界面左边ok-->
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="left(categories)">
    <div class="pr-lg-5 mt-lg-2 mt-3">
        <th:block th:if="${!#lists.isEmpty(categories)}">
            <th:block th:each="category:${categories}">
                <div class="title-list-item">
                    <div class="d-flex mb-3">
                        <i class="user-avatar rounded-circle"
                           th:style="'display: block;width: 2.5rem; height: 2.5rem;background-image: url(\''+${theme.config.user_info.avatar}+'\');background-size: cover;'"></i>
                        <div class="dialogue-box rounded">
                            <h3 id="${category.name}" class="section-title">
                                <span th:text="${category.spec.displayName}"></span>
                            </h3>
                        </div>
                    </div>
                    <!--列表项-->
                    <ul class="title-list">
                        <th:block th:each="post:${postFinder.listByCategory('1','9999',category.metadata.name)}">
                            <li class="d-flex flex-sm-row flex-column justify-content-between pr-3">
                                <a th:href="${post.status.permalink}" th:text="${post.spec.title}"></a>
                                <small class="text-muted"
                                       th:text="${#dates.format(post.metadata.creationTimestamp,'yyyy年MM月d日')}"></small>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>
        </th:block>
        <th:block th:unless="${!#lists.isEmpty(categories)}">
            <div>
                <div class="d-flex flex-column align-items-center mt-2 pt-5">
                    <span class="text-muted"><i class="fas fa-inbox fa-7x"></i></span>
                    <span class="text-muted mt-4 mb-5">
                        还没有分类，回<a class="font-weight-bold" href="${blog_url!}">主页</a>看看吧
                    </span>
                </div>
            </div>
        </th:block>

    </div>
</th:block>
</html>