<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="pagination(posts)">
    <!--主页的分页ok-->
    <th:block th:if="posts.total>0">
            <th:block method="index" page="${posts.number}" total="${posts.totalPages}" display="3">
                <section id="pagination" class="mt-5 mb-lg-3 d-flex justify-content-center">
                    <nav aria-label="切换上下页">
                        <ul class="pagination">
                            <!--上一页部分-->
                            <li th:class="${'page-item '+!pagination.hasPrev?'disabled':''}">
                                <th:block th:if="${!pagination.hasPrev}">

                                    <a class="page-link" tabindex="-1" aria-disabled="true">&laquo;</a>
                                </th:block>
                                <th:block th:unless="${!pagination.hasPrev}">
                                    <a class="page-link" th:href="${pagination.prevPageFullPath}"
                                       aria-label="上一页">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </th:block>
                            </li>
                            <!--页码部分-->
                            <th:block th:each="number:${pagination.rainbowPages}">
                                <th:block th:if="${number.isCurrent}">
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="javascript:void(0)">
                                            ${number.page!}
                                            <span class="sr-only">(current)</span>
                                        </a>
                                    </li>
                                </th:block>
                                <th:block th:unless="${number.isCurrent}"></th:block>
                                    <li class="page-item">
                                        <a class="page-link" href="${number.fullPath!}">${number.page!}</a>
                                    </li>
                            </th:block>
                            <!--下一页部分-->
                            <li th:class="${'page-item'+!pagination.hasNext?'disable':''}">
                                <th:block th:if="${!pagination.hasNext}">
                                    <a class="page-link" href="javascript:void(0)" tabindex="-1"
                                       aria-disabled="true">&raquo;</a>
                                </th:block>
                                <th:block th:unless="${!pagination.hasNext}">
                                    <a class="page-link" th:href="${pagination.nextPageFullPath}"
                                       aria-label="下一页">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </th:block>
                            </li>
                        </ul>
                    </nav>
                </section>
            </th:block>
    </th:block>
</th:block>
</html>