<!--分类界面的分页ok-->
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="pagination(posts,slug)">
    <th:block th:if="posts.total!=0">
            <section id="pagination" class="mt-5 mb-lg-3 d-flex justify-content-center">
                <nav aria-label="切换上下页">
                    <ul class="pagination">
                        <!--上一页部分-->
                        <li th:class="'page-item '+${!posts.hasPrev?'disabled':''}">
                            <th:block th:if="${!posts.hasPrev}">
                                <a class="page-link" tabindex="-1"
                                   aria-disabled="true">&laquo;</a>
                            </th:block>
                            <th:block th:unless="${!posts.hasPrev}">
                                <a class="page-link"
                                   th:href="${posts.prevUrl}"
                                   aria-label="上一页">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </th:block>
                        </li>
                        <!--页码部分-->
                        <th:block th:each="number:${posts.totalPages}">
                            <th:block th:if="${number==posts.page}">
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="javascript:void(0)">
                                        <th:block th:text="${posts.page}"></th:block>
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            </th:block>
                            <th:block th:unless="${number==posts.page}"></th:block>
                            <li class="page-item">
                                <a class="page-link" href="">
                                    <th:block th:text="${number+1}"></th:block>
                                </a>
                            </li>
                        </th:block>
                        <!--下一页部分-->
                        <li th:class="'page-item'+${!posts.hasNext?'disable':''}">
                            <th:block th:if="${!posts.hasNext}">
                                <a class="page-link" href="javascript:void(0)" tabindex="-1"
                                   aria-disabled="true">&raquo;</a>
                            </th:block>
                            <th:block th:unless="${!posts.hasNext}">
                                <a class="page-link" th:href="${posts.nextUrl}"
                                   aria-label="下一页">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </th:block>
                        </li>
                    </ul>
                </nav>
            </section>
    </th:block>
</th:block>
</html>