<!--日志界面OK-->
<!DOCTYPE html>
    <html lang="zh" xmlns:th="http://www.thymeleaf.org"th:replace="~{module/layout::layout(title='日志',pageType='journals',head=null,content=~{::content},footer=~{module/footer::footer})}">
<th:block th:fragment="content">
    <th:block th:replace="~{module/navbar::navBar}">
    </th:block>
    <!--下方正文部分-->
    <div class="container-fluid" style="background: #f8fafc;" th:with="moments=${momentFinder.listAll()}">
        <div class="container px-md-2 px-0">
            <div class="row">
                <div id="left" class="journals col-md-8 p-0 pr-md-2" style="opacity: 0;">
                    <th:block th:replace="~{module/journals/left::left(journals=${moments},pagination=~{module/journals/pagination::pagination})}"></th:block>
                </div>
                <div id="right" class="col-md-4 bg-white pt-3 pb-5 text-muted mt-2 d-md-block d-none">
                   <th:block th:replace="~{module/journals/right::right}"></th:block>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>